/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&family=Roboto:ital,wght@0,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-style: italic;
  line-height: 1.3;
  font-size: 4rem;
}

.txt {
  font-style: italic;
  font-size: 1.5rem;
}

.banner-bg {
  background: url(../images/banner.png) center top/cover;
  height: 958px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}
.banner-bg .banner {
  width: 20%;
  margin: auto;
}
.banner-bg .banner-txt {
  color: #fff;
  margin-bottom: 2.5rem;
}
.banner-bg .banner-txt h1 {
  font: italic normal 900 5rem/1.325 "Roboto";
}
.banner-bg .banner-txt p {
  font: italic normal bold 1.5rem/1.75 "Roboto";
}
.banner-bg .snsLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-bg .snsLinks li {
  margin-right: 1rem;
}

.about {
  margin-bottom: 3.5rem;
}
.about .title {
  margin-bottom: 2.5rem;
}
.about img {
  margin-bottom: 1.25rem;
}
.about p {
  line-height: 1.75;
}
.about p:nth-child(5) {
  line-height: 1.5;
  margin-bottom: 3rem;
  position: relative;
}
.about p:nth-child(5)::after {
  content: "";
  bottom: -1.5rem;
  left: 0;
  right: 0;
  max-width: 380px;
  margin: auto;
  position: absolute;
  border-bottom: 1px solid #000;
}
.about .experience {
  font: italic normal bold 24px/42px "Roboto";
}
.about .experience .dot {
  background: #891818;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.bg {
  background-color: #000;
}

.brand {
  color: #fff;
}
.brand .title {
  padding-top: 3.5rem;
}
.brand p {
  line-height: 2.5;
}
.brand p:nth-child(3) {
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 4.25rem;
}
.brand .brand-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 68%;
  margin: 0 auto;
  padding-bottom: 10rem;
  margin-bottom: 3.5rem;
}
.brand .brand-pic li:nth-child(1) {
  margin-bottom: 2.5rem;
}
.brand .brand-pic li:nth-child(2) {
  margin-right: 1.5rem;
}

.work {
  margin-bottom: 9rem;
}
.work h2 {
  margin-bottom: 1rem;
}
.work > .txt {
  margin-bottom: 3.5rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
}
.cards .card {
  margin-right: 1.5rem;
}
.cards .card .txt {
  line-height: 2;
  margin-bottom: 3rem;
}

.footer {
  padding: 4rem 0;
  color: #fff;
}

.contact .title {
  margin-bottom: 1rem;
}

.contactList .txt {
  margin-bottom: 1rem;
}
.contactList .txt a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contactList .txt a:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}