.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-style: italic;
    line-height: 1.3;
    font-size: 4rem;
}

.txt {
    font-style: italic;
    font-size: 1.5rem;
}